*{
	margin: 0;
	padding: 0;
}



.navbar{
	border: 1px solid black;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 45px;
	box-shadow: 0 0 5px 1px #eee;
	padding: 0 30px;
}
.navbar-items{
	display: flex;
}
.navbar-items p{
	margin: 0px 10px;;
}

.card-container{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 20px;

}

.filters{
	margin: 10px 0;
}

.restuarant-card img{
	max-width: 300px;
}

.restuarant-card{
	max-width: 250px;
	display: flex;
	flex-direction: column;
	/* border: 1px solid black; */
	box-shadow: 0 0 5px 2px #ddd;
	border-radius: 5px;
	padding: 5px;;
	margin: 10px;
}
.restuarant-card p{
	margin: 10px 0;
	word-wrap:break-word;
}

.filters{
	display: flex;
	margin-left: 30px;
	align-items: center;
}
.search-container button{
	margin: 5px;
}
.filter-btn{
	margin-left: 5px;
}
